.planDeahorro{
    background-color: white;
    padding: 5rem;
}

.titulo{
    font-family:$titulo;
    color:black;
    font-size:2rem;
    padding-top: 3rem;

}

.texto{
    font-family:$subtitulo;
    color: black;
    font-size: 1rem;
}