
.fondoProductos{
    background-color: white;
}

.titularProductos{
 font-family: $titulo;
 padding: 2rem;

}

.productosSection{
    display: flex;
    flex-wrap: wrap
;

    .contenedorProducto{
        margin: 1.875rem;
        display: inline-block;

        .tituloProducto{
            font-family:$titulo;
            font-size: 1.25rem;
        }
        
        .fotoVehiculo{
            width: 200px;
        }

    }
}


.suscripcionNewsletter{
    background-color: $celeste;
    display: flex;
    flex-direction: column;
    align-items: center;

    .tituloNewsletter{
        color: white;
        font-family:$titulo;
        font-size: 1.25rem;
        text-align: center;
        padding-top: 3.125rem;
        margin-bottom: 1.25rem;
    }

    .btn{
        font-family:$subtitulo;
        margin-bottom: 3.125rem;

    }

}

