.body {
  background-color: black;
}

.header--logo {
  padding: 1rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel {
  display: none;
}

.productosIndex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productosIndex .tituloIndex {
  color: white;
  font-family: Playfair Display, serif;
  font-size: 2rem;
  padding: 2rem;
  text-align: center;
}

.productosIndex .productosIndex--article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productosIndex .productosIndex--article .productosIndex--article__texto {
  font-family: Playfair Display, serif;
  color: white;
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.productosIndex .productosIndex--article .productosIndex--article__texto:hover {
  color: #0084ff;
}

.productosIndex .productosIndex--article__imagen {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.productosIndex .productosIndex--article__imagen:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.serviciosIndex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.serviciosIndex .serviciosIndex--article {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.serviciosIndex .serviciosIndex--imagen {
  width: 25rem;
}

.serviciosIndex .serviciosIndex--article__cuadroBlanco {
  background-color: white;
  font-family: Playfair Display, serif;
  width: 25rem;
  padding: 2rem;
  margin-right: 3rem;
}

.serviciosIndex .serviciosIndex--article__cuadroBlanco .btn-light {
  background-color: #0084ff;
  font-family: Open Sans, sans-serif;
  color: white;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.serviciosIndex .serviciosIndex--article__cuadroBlanco .btn-light:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: darkslategray;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3rem;
  background-color: black;
  color: white;
  font-family: Open Sans, sans-serif;
  font-weight: 200;
  text-align: center;
}

.footer .footer--seguinos__logoRedes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*NOSOTROS*/
.textoNosotros {
  background-color: white;
  padding: 5rem 5rem;
}

.textoNosotros .textoNosotros--encabezado {
  color: #0084ff;
  font-family: Open Sans, sans-serif;
  font-size: 1rem;
}

.textoNosotros .textoNosotros--titular1 {
  font-family: Playfair Display, serif;
  color: black;
  font-size: 2rem;
}

.textoNosotros .textoNosotros--titular2 {
  font-family: Playfair Display, serif;
  color: black;
  font-size: 2.5rem;
}

.textoNosotros p {
  padding-top: 1rem;
  color: black;
  font-family: Open Sans, sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
}

/*PRODUCTOS*/
.fondoProductos {
  background-color: white;
}

.titularProductos {
  font-family: Playfair Display, serif;
  padding: 2rem;
}

.productosSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.productosSection .contenedorProducto {
  margin: 1.875rem;
  display: inline-block;
}

.productosSection .contenedorProducto .tituloProducto {
  font-family: Playfair Display, serif;
  font-size: 1.25rem;
}

.productosSection .contenedorProducto .fotoVehiculo {
  width: 200px;
}

.suscripcionNewsletter {
  background-color: #0084ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.suscripcionNewsletter .tituloNewsletter {
  color: white;
  font-family: Playfair Display, serif;
  font-size: 1.25rem;
  text-align: center;
  padding-top: 3.125rem;
  margin-bottom: 1.25rem;
}

.suscripcionNewsletter .btn {
  font-family: Open Sans, sans-serif;
  margin-bottom: 3.125rem;
}

/*FINANCIACION*/
.planDeahorro {
  background-color: white;
  padding: 5rem;
}

.titulo {
  font-family: Playfair Display, serif;
  color: black;
  font-size: 2rem;
  padding-top: 3rem;
}

.texto {
  font-family: Open Sans, sans-serif;
  color: black;
  font-size: 1rem;
}

/*CONTACTO*/
.form {
  padding: 5rem;
}

@media only screen and (min-width: 1024px) {
  .navbar {
    padding-left: 3.3rem;
  }
  .carousel {
    display: block;
  }
  .productosIndex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 3rem 10rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .productosIndex .tituloIndex {
    color: white;
    font-family: Playfair Display, serif;
    font-size: 3rem;
    padding-bottom: 2rem;
    text-align: center;
  }
  .productosIndex .productosIndex--article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .productosIndex .productosIndex--article .productosIndex--article__texto {
    font-family: Playfair Display, serif;
    color: white;
    font-size: 2rem;
    padding-top: 2rem;
  }
  .serviciosIndex .serviciosIndex--article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .serviciosIndex .serviciosIndex--imagen {
    width: 17rem;
    margin-left: 5rem;
  }
  .serviciosIndex .serviciosIndex--article__cuadroBlanco {
    background-color: white;
    font-family: Playfair Display, serif;
    width: 18rem;
    height: 8.9rem;
  }
  .serviciosIndex .serviciosIndex--article__cuadroBlanco .serviciosIndex--article__texto {
    font-size: 1.5rem;
  }
  .footer {
    font-family: Open Sans, sans-serif;
  }
  .footer .footer--atajossitio {
    background-color: #0084ff;
    color: white;
    font-size: 0.9rem;
    margin: 0rem;
  }
  .footer .footer--parteinferior {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 40px;
    font-size: 0.9rem;
    font-family: Open Sans, sans-serif;
  }
  .footer .footer--parteinferior .footer--seguinos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer--parteinferior .footer--seguinos .footer--seguinos__logoRedes {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    letter-spacing: 0.9rem;
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=style.css.map */